body {
    background-image: url("marvellogo.jpg");
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
    color: white;
}
p {
    width: auto;
}
.dropbtn {
    background-color: #EC1827;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #EC1827;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover { 
    background-color: #EC1827;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
    color: #EC1827;
}